In [15]:
import numpy as np
import pandas as pd

file_name = "../data/data.json"

data = pd.read_json(file_name)
cols = data.columns

"""
column 3 is a genus or subfamily
column 5 is species
"""

keep_cols = [3, 5, 7]

"""
clean null values
"""
data = data[cols[keep_cols]]
data = data.replace("", np.nan).dropna()

data.head()

     Pterygota      FIELD6      FIELD8
24  Euphilotes   battoides   battoides
25  Euphilotes   battoides      allyni
27  Euphilotes     enoptes     enoptes
28  Euphilotes     enoptes      smithi
31    Icaricia  icarioides  icarioides